@font-face {
  font-family: 'FiraCode-Regular';
  src: url('../../../assets/fonts/fira-code/FiraCode-Regular.woff') format('woff');
}

@font-face {
  font-family: 'FiraCode-Medium';
  src: url('../../../assets/fonts/fira-code/FiraCode-Medium.woff') format('woff');
}

@font-face {
  font-family: 'asteriskpass';
  src: url('../../../assets/fonts/asteriskpass/asteriskpass.woff') format('woff');
}
