<body class="background-img no-selectable">
    <div class="overlay"></div>
    <div class="container">
        <div class="titlecontainer">
            <h1 class="titlecontainer__title animate__animated animate__fadeInDown">Personalized Components Library</h1>
            <div class="titlecontainer__description animate__animated animate__fadeIn">
                <ngx-typed-js
                [strings]="[
                    'Library of components that can be used in reactive forms.'
                ]"
                [typeSpeed]="35">
                <span class="typing"></span>
                </ngx-typed-js>
            </div>
        </div>
        <div class="imgcontainer animate__animated animate__slideInUp">
            <img
                class="imgcontainer__image"
                src="../../../assets/images/bibliophile-rafiki-darck-blue.png"
                alt="user-story-infograph"
                target="_blank"/>
            <a
                class="imgcontainer__imge-link"
                href="https://v17.angular.io/docs"
                target="_blank">
                Developed in
                <img src="../../../assets/images/angular-darck.com.png" /> 17.3.0
            </a>
        </div>
    </div>
</body>
