/** GREEN PALETE */
$component_text: #4a4a4a;
$component_btn: #015e0d;
$component_principal: #1c3d18;
$component_action: #067400;
$component_action_border: #078001;
$component_action_border2: #096700;
$component_action_sdw: #22751e;
$component_border: #1a6b1a;
$component_scrollbar: #193d1855;
$component_hr: #2a6c2b44;
$component_hover: #e6ecf6ae;
$component_principal_hover: #193d1874;
$component_action_principal: #276f5c;
$component_active: #26802b;
$component_link: #e5f1f9;
$component_ok: #49adaf;


$component_shadow_contrast: #2c572a;
$component_shadow_contrast_2: #2c572a;

$component_grey: #4a4a4a;
$component_grey_soft: #a5a5a5;
$component_grey_soft_2: #e8e8e8;

$component_error: #ae9f00;
$component_error_2: #ae7100;

$component_btn_filter: invert(13%) sepia(92%) saturate(3381%) hue-rotate(135deg) brightness(93%) contrast(99%);
$component_principal_filter: invert(16%) sepia(13%) saturate(2964%) hue-rotate(67deg) brightness(89%) contrast(85%);
$component_active_filter: invert(35%) sepia(32%) saturate(2373%) hue-rotate(87deg) brightness(91%) contrast(72%);
$component_border_filter: invert(17%) sepia(91%) saturate(2670%) hue-rotate(95deg) brightness(99%) contrast(80%);
$component_action_border2_filter: invert(22%) sepia(95%) saturate(1295%) hue-rotate(83deg) brightness(97%) contrast(101%);
$component_shadow_contrast_filter: invert(30%) sepia(5%) saturate(4162%) hue-rotate(69deg) brightness(92%) contrast(94%);

$component_grey_filter: invert(26%) sepia(19%) saturate(0%) hue-rotate(192deg) brightness(90%) contrast(82%);
$component_grey_soft_filter: invert(82%) sepia(0%) saturate(2%) hue-rotate(222deg) brightness(81%) contrast(87%);

